/** Global Styles **/
@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Castoro+Titling&family=Merriweather&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
#root {
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
